@font-face {
  font-family: 'Awan-B';
  src: url('../fonts/AwanZaman-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Awan-L';
  src: url('../fonts/AwanZaman-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Awan-M';
  src: url('../fonts/AwanZaman-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Awan-R';
  src: url('../fonts/AwanZaman-Regular.ttf') format('truetype2'),
       url('../fonts/awanzaman-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$fonts: (
        light: Awan-L,
        regular: Awan-R,
        medium: Awan-M,
        bold: Awan-B,
);


@import "packages";
