.footer {
  .border-top {
    border-top: 2px solid #EEEEEE;
    padding-top: 3%;
  }

  h1 {
    color: #B0860D;
    font-size: 24px;
    font-family: 'Awan-B';
  }

  p {
    font-size: 19px;
  }

  .social {
    div {
      display: inline-flex;
      background: #ffffff;
      border-radius: 5px;
      text-align: center;
      padding: 2%;
      margin: 1%;
      box-shadow: 0 2px 14px 0 #e2e2e2fa;
      margin-top: 2%;
    }
  }

  ul {
    font-size: 19px;
  }

  li {
    float: right;
    margin-left: 5%;

    a {
      color: #616161;
    }
  }

  .payment,
  .shipping-methods {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div {
      display: inline-flex;
      background: #fff;
      box-shadow: 0 2px 14px 0 #e2e2e2fa;
      text-align: center;
      height: 40px;
      padding: 2%;
      margin: 1%;
      border-radius: 5px;
    }

    #more-way {
      font-weight: bolder;
      margin-right: 0;
    }

    span {
      margin-right: 8px;
    }

    img {
      width: 30px;
    }
  }
}

.bottom-footer {
  background: #f3efe6;
  padding: 1%;

  .container {
    background: #f3efe6 !important;
    margin-top: 0 !important;
  }

  p {
    display: inline-block;
    font-size: 20px;
    color: #616161;
  }

  img {
    float: left;
  }
}

.padding-links {
  padding-right: 3%;
}
