@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  box-shadow: 0 2px 33px 0 #E2E2E2;
}
// notification-bar //

.notification-bar {
  width: 100%;
  background: $primary;
  animation: 1s ease-out 0s 1 slideInFromTop;
  text-align: center;
  overflow: hidden;
}

.notification-text {
  font-family: 'Awan-M';
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 8px 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  overflow: hidden;
}

.conceal {
  display: none;
}

button.btn.close-notification {
  padding: 0;
  background-color: transparent;
  float: right;
  width: 14px;
  margin: 18px 36px;
  display: inline-block;
  border: none;
}
// end notification-bar //

// header-top //

.vue-fixed-header--isFixed {
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.header-top {
  background: #fff;
  border-bottom: 1px solid #F7F7F7;
  padding: 1% 3%;
  display: flow-root;
  z-index: 1;

  .all-catogary {
    margin-top: 1%;
    margin-right: 2%;
    padding-left: 1%;
  }

  .line-cat {
    height: 84px;
  }
}

#main-nav {
  display: inline-block;

  li {
    display: inline;
    margin-left: 33px;

    a {
      color: #595959;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

.header-linke {
  display: inline-block;
  float: left;

  span {
    border: 1px solid #EBEBEB;
    margin: 0 14px;
    height: 23px;
  }

  button {
    font-family: 'Awan-R';
    width: 135px;
    height: 35px;
    border: none;
    border-radius: $main-border-radius;
    background-color: #F7F7F7;
    font-size: 20px;
    color: #4A4A4A;
  }

  .badge {
    background: $primary;
    width: 25px;
    height: 25px;
    border-radius: 16px;
    right: 34px;
    border: 3px solid #fff;
    bottom: 3px;
    line-height: 17px;
    color: #fff;
    font-family: 'Awan-B';
    text-align: center;
    font-size: 22px;
    position: relative;
    display: inline-block;
  }
}
.logo {
  background-image: url("./../../assets/images/logo.jpeg");
  background-size: 100% 100%;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 48%;
  top: 73px;
  border-radius: 60px;
  transition: height 0.2s;
  z-index: 1;
}


.line-cat {
  position: absolute;
  display: inline-flex;
  width: 1px;
  background: #f3f3f3;
  height: 66px;
  right: 13%;
  top: 1%;
}

.cart {
  width: 27px;
  height: 26px;
}

// header @scroll
.hide-catogary {
  visibility: hidden;
  position: relative;
}
.hide-link {
  display: none!important;
}

.header-linke-scroll {
  margin: 4px 49% 0 0 !important;
}
// end @scroll

// buttom header

.categories-nav {
  padding: 16px 42px 16px 0;
  background: #fff;
  position: relative;
}

.all-catogary {
  display: inline-block;

  p {
    display: inline;
    font-family: 'Awan-M';
    color: #D2AC5C;
    font-size: 22px;
    margin-right: 10px;
  }

  .arrow-down {
    color: #D2AC5C;
    width: 44px;
    height: 17px;

    span {
      width: 9px;
      border-radius: $main-border-radius;
      border: 2px solid #D2AC5C;
      display: list-item;
      height: 9px;
      margin-right: -3px;
      display: inline-block;
    }
  }

  .all-prodect {
    display: inline-block;
  }

  .level-1 {
    //margin-top: -4px;
    display: inline;
  }
}

.setting {
  float: left;
  font-family: 'Awan-R';
  font-size: 22px;
  margin-left: 56px;
  color: #4A4A4A;

  span#lng {
    margin-right: 30px;
  }

  span#sar {
    margin-right: 9px;
  }

  .arrow {
    margin-right: 13px;
  }
}

.search {
  display: inline-block;

  input {
    width: 318px;
    height: 40px;
    background: #F7F7F7;
    border: none;
    border-radius: $main-border-radius;
    font-family: 'Awan-R';
    font-size: 20px;
    color: #CDCDCD;
    padding-right: 22px;
  }

  #search-icone {
    color: #4a4a4ab5;
    position: relative;
    left: 40px;
    width: 17px;
    height: 18px;
    top: 4px;
  }
}

#ksa-img {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.list-item {
  width: 100%;
  position: absolute;
  left: 0;
  top: 59%;
  z-index: 1;
  //transform: translateY(0);
  animation: 1s ease-out 0s 1;

  .sub-ul-1 {
    list-style: none;
    background: #f5f5f5;
    position: relative;
    color: #4A4A4A;
    font-size: 20px;
    font-family: 'Awan-R';
    padding: 10px 42px 10px 10px;
    background: #f4f4f5;
    box-shadow: 0 18px 20px 0 #E2E2E2;

    .sub-li-1 {
      padding: 16px 0;
      border-bottom: 1px solid #E8E8E8;
      width: 12%;

      svg.fa-icon {
        float: left;
      }
    }

    .active {}
  }

  .line-under-title {
    position: relative;
    bottom: -8px;
    display: inline-block;
    background: $primary;
    width: 11.3%;
    height: 5px;
    margin-right: 1%;
  }
}

.sub-ul-2 {
  position: absolute;
  right: 14%;
  padding: 2% 4% 1% 0;
  list-style: none;
  font-size: 23px;
  font-family: 'Awan-L';
  width: 73%;
  color: #4A4A4A;
  top: -6%;
  display: none;
}

.sub-ul-2 li {
  float: right;
  margin-right: 2%;

  a {
    display: inherit;
    color: #BC9335;
    padding-top: 29%;
    text-decoration: none;
  }
}

.menu-popover-leave-to {
  opacity: 0;
  transform: rotateY(50deg);
}

.menu-popover-leave {
  opacity: 1;
  transform: rotateY(0deg);
}

.menu-popover-enter-active,
.menu-popover-leave-active {
  transition: opacity, transform 200ms ease-out;
}

.isActiveLi {
  background: #f9f9f9;
}

.isActiveUl {
  display: block !important;
}

.logo_scroll {
  width: 56px;
  height: 55px;
  right: 49%;
  top: 8%;
}
@media screen and (max-width: 767px) {
  .close-notification {
    width: 31px;
    top: 2%;
  }

  .notification-text {
    font-size: 35.6px;
    padding: 21px 56px 21px 0;
  }
}

.test {
  background: red;
}
