.banner {
  width: 30%;
  height: 504px;
  display: inline-block;
  margin-left: 1%;
  border-radius: $main-border-radius;
  background-image: url("./../../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #615459;
  font-family: 'Awan-R';
  text-align: center;
  box-shadow: 0 2px 11px 0 #BCBCBC;

  div {
    display: inline;
  }

  h1 {
    font-size: 50px;
    position: relative;
    top: 32%;
  }

  h2 {
    position: relative;
    font-size: 25px;
    top: 32%;
  }

  a {
    background: #D2AC5C;
    border: none;
    width: 194px;
    height: 45px;
    color: #fff;
    font-size: 23px;
    position: relative;
    top: 172px;
  }

}

// end baner

// start main slider

.slider {
  width: 68%;
  height: 504px;
  display: inline-block;
  padding-top: 0;
  color: #fff;
  font-family: 'Awan-R';
h1,h2{
  display: inline-block;
  position: relative;
  right: 4%;
  top: 62%;
  text-shadow: 0 1px #0000004a;
}
  h1 {
    font-size: 35px;

  }
  h2 {
    font-size: 19px;
  }
  .shop-now {
    display: inline-block;
    position: relative;
    top: 70%;
    left: 51%;
  }
  a {
    background: #000;
    color: #fff!important;
    width: 150px;
    height: 45px;
  }
  .button {
    border: none;
  }
  .span-line {
    position: relative;
    width: 51px;
    height: 3px;
    background: #D2AC5C;
    top: 60%;
    border-radius: $main-border-radius;
    left: 36%;
  }
  .span-circale {
    position: relative;
    width: 30px;
    height: 30px;
    background: $primary;
    top: 2%;
    border-radius: 15px;
    left: -3%;

    .fa-icon {
      margin-top: 22%;
    }
  }
  .slider-img {
    direction: rtl;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    border-radius: $main-border-radius;
  }
  .VueCarousel-navigation-prev {
    position: absolute;
    top: 91%;
    left: 8%;
    margin-right: 3px;
  }
  .VueCarousel-navigation-next {
    position: absolute;
    top: 91%;
    right: 93%;
  }
}

// categories
.categories {
  margin-top: 3%;
  font-family: 'Awan-R';

  .arrows-sm {
    float: left;
  }

  h1 {
    font-size: 35px;
    color: #484848;
    display: inline-block;
  }

  p {
    display: inline-block;
    float: left;
    color: #D2AC5C;
    font-size: 24px;
    margin-left: 9%;
  }


  .cat-title {
    background: black;
    border-radius: $main-border-radius;
    display: inline-block;
    color: #fff;
    padding: 2% 7%;
    position: relative;
    bottom: 25%;
    //left: 3%;
    font-size: 22px;
  }

  .cat-span {
    position: absolute;
    display: inline;
    background: #D2AC5C;
    width: 43%;
    height: 3px;
    bottom: 0%;
    border-radius: $main-border-radius;
    z-index: 1;
  }
  .VueCarousel-slide {
    padding-left: 19px;
  }
  .VueCarousel-navigation {
    position: absolute;
    left: 5%;
    top: -35px;
  }
  .VueCarousel-navigation-next{
    padding: 0px
  }
  .cat-img {
    width: 100%;
  }


}


// products
.products {
  background: #f6f4ef;
  .container {
    background: #f6f4ef !important;
  }
  .button {
    font-family: 'Awan-R';
  }
}


.column {
  position: relative;
}

.img-product {
  width: 100%;
  border-radius:18px
}
.img-hover{
  box-shadow: 0 2px 14px 0 #b3adadfa;
}

.product-name {
  font-size: 24px;
}

.product-options {
  font-size: 18px;
  color: #BCBCBC;
}

.product-price {
  font-size: 24px;
  color: #D2AC5C;
}

.product-discount,
.product-new {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: $main-border-radius;
  font-family: 'Awan-R';
  font-size: 20px;
  text-align: center;
  /* margin: 0px; */
  padding: 0;
  position: absolute;
  top: 6%;
  right: 66%;
}

.product-discount {
  background: #F25F5F;
  color: #fff;
}

.product-new {
  background: #ffffff;
  color: #171717;
}

.view-shopping-btn {
  margin-right: 14%;
  bottom: 15%;
  position: absolute;
  top: 59%;
  width: 100%;
}

.shopping-btn {
  background: $primary;
  color: #fff;
  width: 157px;
  height: 45px;
  border: none;
  font-size: 20px;
}

.view-btn {
  background: #464646;
  color: #fff;
  width: 45px;
  height: 45px;
  border: none;
}

.header-title {
  margin-bottom: 2%;
  padding-top: 2%;

  h1 {
    font-size: 35px;
    color: #484848;
  }

  p {
    font-size: 22px;
    color: #818286;
  }
}

///end product


// .brand-slider {
//   position: relative;
//   top: 18px;
//   text-align: center;
//
//   .point {
//     position: relative;
//     display: inline-block;
//     background: #c5c5c5;
//     width: 10px;
//     height: 10px;
//     border-radius: 15px;
//     margin-right: 7px;
//   }
//
//   .line {
//     position: relative;
//     display: inline-block;
//     background: $primary;
//     width: 30px;
//     height: 8px;
//     border-radius: 15px;
//   }
// }

//
// .slider{
// .VueCarousel-navigation-prev{
//   position: absolute;
//   top: 88%;
//   left: 10%;
//   }
//   .VueCarousel-navigation-next {
//     position: absolute;
//     top: 88%;
//     right: 91%;
//   }
// }

 //recently-added
.recently-added {
  .VueCarousel-navigation {
    .VueCarousel-navigation-prev {
      position: absolute;
      top: 34%;
      left: 4%;
      margin-right: 3px;
    }
    .arrow-left,
    .arrow-right {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      text-align: center;
      color: #fff;
      background-color: $primary;
    }
    .VueCarousel-navigation-next {
      position: absolute;
      top: 34%;
      right: 3%;
    }
    svg {
      width: 24px;
      height: 24px;
      margin-top: 27%;
    }
  }

  .view-shopping-btn {
    margin-left: 4%;
  }

  .information {
    direction: rtl;
  }

  .VueCarousel-slide {
    padding-left: 19px;
  }
}

.clients {
  background: #f6f4ef;
  padding-top: 3%;
  padding-bottom: 6%;
  overflow: hidden;

  .header {
    height: 200px;
    display: inline-block;
    width: 23%;
    float: right;
    background-image: url("./../../assets/images/quotation.png");
    color: #484848;
    font-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 70px 0;
    margin-right: 4%;
  }

  .container {
    background: #f6f4ef !important;
  }

  .what-say {
    background: #fff;
    border-radius: $main-border-radius;
    padding: 46px;
    box-shadow: 0 0 25px 0 #0000000d;
    font-size: 20px;
    text-align: center;
    background-image: url("./../../assets/images/clint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-position-y: 15%;

    h1 {
      color: #AC8000;
    }
  }

  .arrows-sm {
    float: right;
    margin-right: 28%;
  }

  .VueCarousel-slide {
    padding-left: 8px;
  }

  .VueCarousel-navigation {
    left: 90%;
    position: absolute;
    top: 117%;

    .VueCarousel-navigation-prev {
      padding: 18px;
    }

    .VueCarousel-navigation-button {
      padding: 5px;
    }
  }
}

.brands {
  .bg-brand{
    background: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius:  $main-border-radius;
    height: 183px;
  }
  .VueCarousel-slide {
      padding-left: 12px;
  }

  .VueCarousel-navigation {
    .VueCarousel-navigation-prev {
      position: absolute;
      top: 34%;
      left: 4%;
      margin-right: 3px;
    }

    .arrow-left,
    .arrow-right {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      text-align: center;
      color: #fff;
      background-color: $primary;
      position: relative;
      text-align: center;
      box-shadow: 0 0 11px 0 #bcbcbc7a;
    }

    .VueCarousel-navigation-next {
      position: absolute;
      top: 34%;
      right: 3%;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-top: 27%;
    }
  }

  button.VueCarousel-dot.VueCarousel-dot--active {
    background: #DBAF4C !important;
    width: 30px !important;
    height: 8px !important;
    border-radius: 15px !important;
    padding: 0 !important;
  }
}






.VueCarousel-navigation {
  .arrow-left,
  .arrow-right {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    background-color: $primary;
  }

  svg {
    margin-top: 12px;
  }
}

.VueCarousel-navigation-button[data-v-453ad8cd]:focus {
  outline: none;
}
.arrows-sm {
  display: inline-block;

  .arrow-left,
  .arrow-right {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
  }

  .arrow-right {
    background: $primary;
  }

  .arrow-left {
    background: $primary;
    margin-right: 6px;
  }

  svg.fa-icon {
    margin-top: 31%;
  }
}


@media only screen and (max-device-width: 736px) {
  .categories p {
      margin-left: 4%;
    }
    .logo{
      right: 46%;
      top: 62px
    }
    .banner{
     margin-top:1%;

      h1{ top: 4%; }
      h2{ top: 0 }
      a { top: 6px}
      height: 100%
    }

}
