<template>
<div class='categories'>
  <h1>التصنيفات</h1>
  <p>جميع التصنيفات</p>
  <carousel dir='ltr'
         :perPageCustom='[[320, 2], [1199, 4]]'
         :perPage="4" autoplayDirection="backward"
         :paginationEnabled="false"
         :navigationEnabled="true"
         navigation-next-label='
          <span class="arrow-right">
            <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M285.5 273l-194.3 194.3c-9.4 9.4-24.6 9.4-33.9 0l-22.7-22.7c-9.4-9.4-9.4-24.5 0-33.9l154-154.7-154-154.7c-9.3-9.4-9.3-24.5 0-33.9l22.7-22.7c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9z"></path>
            </svg>
          </span>'
         navigationPrevLabel='
          <span class="arrow-left">
            <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M34.5 239l194.4-194.3c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9l-154 154.7 154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0l-194.3-194.4c-9.4-9.4-9.4-24.6 0-33.9z"></path>
            </svg>
          </span>'>
    <slide v-for='category in categories' dir='rtl'>
      <img class='cat-img' :src='category.imageUrl' />
      <div class='cat-title'>
        <h2>{{ category.title }}</h2>
        <span class='cat-span'></span>
      </div>
    </slide>
  </carousel>
</div>
</template>


<script>
import {
  Carousel,
  Slide
} from 'vue-carousel';
export default {
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      categories: [{
          title: "الهدايا الجاهزة",
          imageUrl: require("../../../static/categories/pic4.png")
        },
        {
          title: "خطوة 3: بطاقة الإهداء",
          imageUrl: require("../../../static/categories/pic3.png")
        },

        {
          title: "خطوة 2: اختر الصندوق والتغليف",
          imageUrl: require("../../../static/categories/pic2.png")
        },

        {
          title: "خطوة 2: اختر الصندوق والتغليف",
          imageUrl: require("../../../static/categories/pic2.png")
        },
        {
          title: "خطوة 1: اختر المنتجات",
          imageUrl: require("../../../static/categories/pic1.png")
        },


      ],
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
