<template>
<div class='columns is-multiline is-mobile reverse-column-order'>
  <div class='banner column is-full-touch '>
    <h1> تخفيضات </h1>
    <h2>خصم يصل الى ٤٠ على قطع مختاره</h2>
    <a href='' class='button'>تسوق الآن</a>
  </div>
  <carousel dir='ltr'
  :perPageCustom='[[320, 1], [1199, 1]]'
   autoplayDirection="backward"
   :paginationEnabled="false"
   :navigationEnabled="true"
   navigation-next-label='
    <span class="arrow-right">
      <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M285.5 273l-194.3 194.3c-9.4 9.4-24.6 9.4-33.9 0l-22.7-22.7c-9.4-9.4-9.4-24.5 0-33.9l154-154.7-154-154.7c-9.3-9.4-9.3-24.5 0-33.9l22.7-22.7c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9z"></path>
      </svg>
    </span>'
    navigationPrevLabel='
    <span class="arrow-left">
      <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M34.5 239l194.4-194.3c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9l-154 154.7 154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0l-194.3-194.4c-9.4-9.4-9.4-24.6 0-33.9z"></path>
      </svg>
    </span>' class='slider column is-two-thirds-desktop is-full-touch '>
    <slide v-for="slide in mainSlider" class='is-full-touch'>
      <div class='slider-img' style='height: 504px;' :style="{'background-image': 'linear-gradient(to top, #1f1f1f7d, #02020230, transparent), url(' +slide.imageUrl+ ')'}">
        <h1>{{slide.mainTitle}}</h1>
        <h2 data-animation="fadeInUp" data-delay="1s">{{slide.secondaryTitle}}</h2>
        <div class='shop-now'>
          <a href='' class='button'>تسوق الآن
            <span class='span-line hide-phone'></span>
            <span class='span-circale hide-phone'>
              <icon name='chevron-left'></icon>
            </span>
          </a>
        </div>
      </div>
    </slide>
  </carousel>
</div>
</template>


<script>
import {
  Carousel,
  Slide
} from 'vue-carousel';
export default {
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      data: [{

      }],
      mainSlider: [{
          mainTitle: "1تسوّق من متجرنا لتصلك منتجاتنا أين ما كنت حول المملكة ",
          secondaryTitle: "يطل عليكم المهباج في متجره الالكتروني ليتيح لكم إمكانية شراء منتجات العلامة التجارية الأكثر عراقة.",
          imageUrl: require("../../../static/slider/slider1.png")
        },
        {
          mainTitle: "2تسوّق من متجرنا لتصلك منتجاتنا أين ما كنت حول المملكة",
          secondaryTitle: "يطل عليكم المهباج في متجره الالكتروني ليتيح لكم إمكانية شراء منتجات العلامة التجارية الأكثر عراقة.",
          imageUrl: require("./../../../static/slider/slider1.png")
        },
        {
          mainTitle: "تسوّق من متجرنا لتصلك منتجاتنا أين ما كنت حول المملكة",
          secondaryTitle: "يطل عليكم المهباج في متجره الالكتروني ليتيح لكم إمكانية شراء منتجات العلامة التجارية الأكثر عراقة.",
          imageUrl: require("./../../../static/slider/slider2.jpeg")
        }
      ]
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
