body {
  background: #F9F9F9;
  direction: rtl;
  font-family: 'Awan-R';
}

.container {
  margin-top: 2%!important;
  background: #F9F9F9!important;
}
.VueCarousel-navigation {
  display: block;
}
@media only screen and (max-device-width: 736px) {
  .columns {
    margin: 0;
  }

  .container {
    padding: 1.5rem;
  }

  .hide-phone {
    display: none !important;
  }
  .VueCarousel-navigation {
    display: none;
  }
  .reverse-column-order{
    display: flex;
  flex-direction: column-reverse;
  }

}
