<template>
<div>
  <span class='line-cat'></span>
  <p>  جميع الاقسام </p>
  <icon name='angle-down' class='arrow-down'></icon>
  <transition name="menu-popover" >
       <div class='list-item'  v-show='show'>
         <span class='line-under-title'></span>
             <ul class='sub-ul-1'>
               <li class='sub-li-1' @click="[ isActive = true, isActive2 = false]" :class=" { isActiveLi : isActive } ">
                 <span class='header '>  جميع الهدايا</span>
                 <icon name='chevron-left' ></icon>
                 <ul class='sub-ul-2'  :class= "{ isActiveUl : isActive} ">
                   <li>
                     <span >1هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                   <li>
                     <span >1 هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                   <li>
                     <span >1هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                 </ul>
               </li>
               <li class='sub-li-1 '  @click="[ isActive2 = true, isActive= false]"  :class=" {isActiveLi : isActive2 }">كروت وبطاقات و الاهداء
                 <icon name='chevron-left' ></icon>
                 <ul class='sub-ul-2 ' :class=" {isActiveUl : isActive2 }">
                   <li>
                     <span class='header'>2هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                   <li>
                     <span class='header'>2 هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                   <li>
                     <span class='header'>2هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                 </ul>
               </li>
               <li class='sub-li-1'>الصناديق والتغليفات
                 <icon name='chevron-left' ></icon>
                 <ul class='sub-ul-2'>
                   <li>
                     <span class='header'>2هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                   <li>
                     <span class='header'>2 هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                   <li>
                     <span class='header'>2 هدايا حسب المناسبة</span>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                     <a href="#">قهوة و هيل</a>
                   </li>
                 </ul>
               </li>
               <li class='sub-li-1'>الهدايا الجاهزة
                 <icon name='chevron-left' ></icon>
               </li>
               <li class='sub-li-1'>الأكواب
                 <icon name='chevron-left' ></icon>
               </li>
             </ul>
         </div>
     </transition>
</div>

</template>
