<template>
<div>
  <div class='container'>
    <div class='footer'>
      <div class="columns border-top is-multiline is-mobile'">
        <div class="column is-full-touch">
          <div class='about'>
            <h1> من نحن </h1>
            <p>
              هل تحتار في اختيار هدية فريدة لمن تحب؟ <br />
              موقع رَسيل يقدم لك الحل! .. نشاركك الشعور ونسهّل عليكِ المهمة من خلال توفير خيارات فريدة تم تنسيقها بعناية لتكون هدية راقية تليق بك وبمن ستهديها إليه.
            </p>
          </div>
          <div>
            <div class=" social">
              <div >
                <icon name='envelope'></icon>
              </div>
              <div>
                <icon name='share-alt'></icon>
              </div>
              <div>
                <icon name='share-alt-square'></icon>
              </div>

              <div>
                <icon name='envelope'></icon>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-two-thirds padding-links">
          <div class="columns">
            <div class="column ">
              <h1> روابط سريعة </h1>
              <ul>
                <li> <a href=''> من نحن </a></li>
                <li> <a href=''> سياسية الاستبدال والاسترجاع</a> </li>
                <li> <a href=''> سياسية الخصوصية </a></li>
                <li> <a href=''>الاسئلة المتكرره </a> </li>
              </ul>
            </div>
          </div>
          <div class="columns">
            <div class="column is-three-fifths">

                  <h1> طرق الدفع المتاحة </h1>
                  <div class='payment'>
                      <div>
                        <img src='../../static/payment/payment1.png' />
                        <span>الدفع عند الاستلام </span>
                      </div>
                      <div>
                        <img src='../../static/payment/payment2.png' />
                      </div>
                      <div>
                        <img src='../../static/payment/payment3.png' />
                      </div>
                      <div>
                        <img src='../../static/payment/payment4.png' />
                      </div>
                      <div>
                        <span id='more-way'>+4</span>
                      </div>
                  </div>
                </div>
            <div class="column ">
                  <h1>نوفر توصيل وشحن عبر</h1>
                  <div class=" shipping-methods">
                    <div>
                      <img src='../../static/ShippingMethods/1.png' />
                      <span>طرد</span>
                    </div>
                    <div >
                      <img src='../../static/ShippingMethods/2.png' />
                      <span>ارامكس</span>
                    </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='bottom-footer'>
    <div class='container'>
      <p> جميع الحقوق محفوظة لمتجر رسيل ٢٠١٩ </p>
      <img src='../../static/footer-logo.png' />
    </div>
  </div>
</div>
</template>
