<template>
<header>
  <!-- notification bar -->
  <div class="notification-bar" :class="{'conceal' : ! showInfoBar}">
    <button type="button" class=" btn close-notification">
      <img @click="showInfoBar = !showInfoBar" src="../../src/assets/images/icons/close.svg" />
    </button>
    <p class="notification-text"> أهلاً وسهلاً بكم في متجر المهباج .. خدمة العملاء واتساب 0504288800 و </p>
  </div> <!-- End notification bar -->
    <fixed-header :threshold="100">
      <div class='header-top' @scroll="handleSCroll">
        <div class='all-catogary' :class='{"hide-link" : !isScroll}' @mouseout="show = false" @mouseover="show = true">
          <span class='line-cat'></span>
          <p @click='show = !show'> جميع الاقسام </p>
          <icon name='angle-down' class='arrow-down'></icon>
          <transition name="menu-popover">
            <div class='list-item' v-show='show'>
              <span class='line-under-title'></span>
              <ul class='sub-ul-1'>
                <li class='sub-li-1' @mouseover="[ isActive = true, isActive2 = false]" :class=" { isActiveLi : isActive } ">
                  <span class='header '> جميع الهدايا</span>
                  <icon name='chevron-left'></icon> <!-- sub 2 -->
                  <ul class='sub-ul-2' :class="{ isActiveUl : isActive} ">
                    <li>
                      <span>1هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                    <li>
                      <span>1 هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                    <li>
                      <span>1هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                  </ul>
                </li>
                <li class='sub-li-1 ' @mouseover="[ isActive2 = true, isActive= false]" :class=" {isActiveLi : isActive2 }">كروت وبطاقات و الاهداء
                  <icon name='chevron-left'></icon>
                  <ul class='sub-ul-2 ' :class=" {isActiveUl : isActive2 }">
                    <li>
                      <span class='header'>2هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                    <li>
                      <span class='header'>2 هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                    <li>
                      <span class='header'>2هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                  </ul>
                </li>
                <li class='sub-li-1'>الصناديق والتغليفات
                  <icon name='chevron-left'></icon>
                  <ul class='sub-ul-2'>
                    <li>
                      <span class='header'>2هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                    <li>
                      <span class='header'>2 هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                    <li>
                      <span class='header'>2 هدايا حسب المناسبة</span>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                      <a href="#">قهوة و هيل</a>
                    </li>
                  </ul>
                </li>
                <li class='sub-li-1'>الهدايا الجاهزة
                  <icon name='chevron-left'></icon>
                </li>
                <li class='sub-li-1'>الأكواب
                  <icon name='chevron-left'></icon>
                </li>
              </ul>
            </div>
          </transition>
        </div>
        <nav id="main-nav">
          <ul>
            <li>
              <router-link to="/foo"> الرئيسية  </router-link>
            </li>
            <li>
              <router-link to="/foo">عن المتجر </router-link>
            </li>
            <li>
              <router-link to="/foo">الدفع والتوصيل</router-link>
            </li>
          </ul>
        </nav>
        <div class='logo ' :class='{"logo_scroll" : isScroll }'></div>
        <div class='header-linke' :class='{"header-linke-scroll" : isScroll }'>
            <div style='display: inline;'>
              <span class="badge">{{ cart}}</span>
              <img class='cart' src="../../src/assets/images/icons/cart.png" />
            </div>
            <span></span>
            <button> تسجيل / دخول</button>
        </div>
      </div>
    </fixed-header>
    <div class='categories-nav'>
      <div class='all-catogary' @mouseout="show = false" @mouseover="show = true"  >
        <span class='line-cat'></span>
        <p @click='show = !show'> جميع الاقسام </p>
        <icon name='angle-down' class='arrow-down'></icon>
        <transition name="menu-popover" v-if="isScroll == false">
          <div class='list-item' v-show='show'>
            <span class='line-under-title'></span>
            <ul class='sub-ul-1'>
              <li class='sub-li-1' @mouseover="[ isActive = true, isActive2= false]" :class=" { isActiveLi : isActive } ">
                <span class='header '> جميع الهدايا</span>
                <icon name='chevron-left' v-show='true'></icon> <!-- if has sub menu -->
                <ul class='sub-ul-2' :class="{ isActiveUl : isActive} ">
                  <li>
                    <span>1هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                  <li>
                    <span>1 هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                  <li>
                    <span>1هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                </ul>
              </li>
              <li class='sub-li-1'>الهدايا الجاهزة
                <icon name='chevron-left' v-show='false'></icon>
              </li>
              <li class='sub-li-1 ' @mouseover="[ isActive2 = true, isActive= false]" :class=" {isActiveLi : isActive2 }">كروت وبطاقات و الاهداء
                <icon name='chevron-left' v-show='true'></icon>
                <ul class='sub-ul-2 ' :class=" {isActiveUl : isActive2 }">
                  <li>
                    <span class='header'>2هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                  <li>
                    <span class='header'>2 هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                  <li>
                    <span class='header'>2هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                </ul>
              </li>
              <li class='sub-li-1'  @mouseover="[ isActive2 = true, isActive= false]" :class=" {isActiveLi : isActive2 }">الصناديق والتغليفات
                <icon name='chevron-left' v-show='true'></icon>
                <ul class='sub-ul-2'>
                  <li>
                    <span class='header'>2هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                  <li>
                    <span class='header'>2 هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                  <li>
                    <span class='header'>2 هدايا حسب المناسبة</span>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                    <a href="#">قهوة و هيل</a>
                  </li>
                </ul>
              </li>
              <li class='sub-li-1'>الأكواب
                <icon name='chevron-left' v-show='false'></icon>
              </li>
            </ul>
          </div>
        </transition>
      </div>
      <div class='setting'>
        <div class='search hide-phone'>
          <input type='text' placeholder="كلمات البحث هنا ..">
          <icon name='search' id='search-icone'></icon>
        </div>
        <span id='lng'>العربيه </span>
        <icon name='angle-down' class='arrow'></icon>
        <img id='ksa-img' src="../../src/assets/images/ksa.png" />
        <span id='sar'>SAR </span>
        <icon name='angle-down' class='arrow'></icon>
      </div>
    </div>
</header>
</template>

<script>
import FixedHeader from 'vue-fixed-header'

export default {
  components: {
    FixedHeader
  },
  data: function() {
    return {
      cart: 5,
      showInfoBar: true,
      show: false,
      isActive: true,
      isActive2: false,
      isScroll: false,
    }
  },
  methods: {
    handleSCroll(event) {
      if (window.scrollY > 100) {
        this.isScroll = true;
      } else if (window.scrollY < 100) {
        this.isScroll = false;
      }
    },
    activeUL(){
  },
},
  created() {
    window.addEventListener('scroll', this.handleSCroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleSCroll);
  },


}
</script>
<style scope>
.vue-fixed-header--isFixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}
</style>
