<template>
<div>
  <div class="container">
    <main-slider></main-slider>
    <categories></categories>
  </div>
  <!-- products-->
  <div class='products'>
    <div class='container'>
      <div class='header-title  '>
        <h1>منتجات مختارة</h1>
        <p>ستجد ضمن المنتجات المختارة افضل منتجاتنا واكثرها طلبات</p>
      </div>
      <div class="columns is-multiline">
        <div class="column is-one-quarter-desktop is-half-touch" v-for='product in products' @mouseover="showByIndex = product" @mouseout="showByIndex = null">
          <span class='button product-new' v-if='product.state == "new" '>
            <icon name='fire-alt'></icon> &nbsp جديد
          </span>
          <span class='button product-discount' v-if='product.state == "discount" '> % خصم </span>
          <img class='img-product' :class="{'img-hover' : showByIndex === product}" :src='product.imageUrl' />
          <div v-show="showByIndex === product" class='view-shopping-btn '>
            <a href='' class='button view-btn'>
              <icon name='eye'></icon>
            </a>
            <button href='' @click='addToCart(product)' class='button shopping-btn'>
              <icon name='shopping-cart'></icon> &nbsp إضافة الى السلة
            </button>
          </div>
          <div class='information'>
            <h2 class='product-name'>{{ product.name }}</h2>
            <h3 class='product-options' v-show='product.options'>متوفر بعدة خيارات</h3>
            <h2 class='product-price'>{{ product.price }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LAST ADD -->
  <div class='recently-added'>
    <div class='container'>
      <div class='header-title'>
        <h1>منتجات مختارة</h1>
        <p>ستجد ضمن المنتجات المختارة افضل منتجاتنا واكثرها طلبات</p>
      </div>
      <carousel dir='ltr'
        :perPageCustom='[[320, 2], [1199, 4]]'
        autoplayDirection="backward"
        :paginationEnabled="false"
        :navigationEnabled="true"
        navigation-next-label='
          <span class="arrow-right">
            <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M285.5 273l-194.3 194.3c-9.4 9.4-24.6 9.4-33.9 0l-22.7-22.7c-9.4-9.4-9.4-24.5 0-33.9l154-154.7-154-154.7c-9.3-9.4-9.3-24.5 0-33.9l22.7-22.7c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9z"></path>
            </svg>
          </span>' navigationPrevLabel='
          <span class="arrow-left">
            <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M34.5 239l194.4-194.3c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9l-154 154.7 154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0l-194.3-194.4c-9.4-9.4-9.4-24.6 0-33.9z"></path>
            </svg>
          </span>'>
        <slide v-for='product in products'>
          <div @mouseover="showByIndex = product" @mouseout="showByIndex = null">
            <span class='button product-new' v-if='product.state == "new" '>
              <icon name='fire-alt'></icon> &nbsp جديد
            </span>
            <span class='button product-discount' v-if='product.state == "discount" '> % خصم </span>
            <img :class="{'img-hover' : showByIndex === product}" class='img-product' :src='product.imageUrl' />
            <div v-show="showByIndex === product" class='view-shopping-btn '>
              <a href='' class='button view-btn'>
                <icon name='eye'></icon>
              </a>
              <a href='' class='button shopping-btn'>
                <icon name='shopping-cart'></icon> &nbsp إضافة الى السلة
              </a>
            </div>
            <div class='information'>
              <h2 class='product-name'>{{ product.name }}</h2>
              <h3 class='product-options' v-show='product.options'>متوفر بعدة خيارات</h3>
              <h2 class='product-price'>{{ product.price }}</h2>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  <div class='clients'>
    <div class='header'>
      <h1>ماذا قالو عن متجرنا</h1>
    </div>
    <carousel dir='ltr' :autoplay='true' :perPageCustom='[[320, 2], [1199, 3]]' autoplayDirection="backward" :paginationEnabled="false" :navigationEnabled="true" navigation-next-label='
    <span class="arrow-right">
      <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M285.5 273l-194.3 194.3c-9.4 9.4-24.6 9.4-33.9 0l-22.7-22.7c-9.4-9.4-9.4-24.5 0-33.9l154-154.7-154-154.7c-9.3-9.4-9.3-24.5 0-33.9l22.7-22.7c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9z"></path>
      </svg>
    </span>' navigationPrevLabel='
    <span class="arrow-left">
      <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M34.5 239l194.4-194.3c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9l-154 154.7 154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0l-194.3-194.4c-9.4-9.4-9.4-24.6 0-33.9z"></path>
      </svg>
    </span>'>
      <slide v-for='client in clients'>
        <div class='what-say'>
          <p> {{ client.body }}</p>
          <h1>{{ client.name }}</h1>
        </div>
      </slide>
      <span></span>
    </carousel>
  </div>

  <div class='brands'>
    <div class='container'>
      <div class='header-title'>
        <h1>الماركات</h1>
      </div>
      <carousel dir='ltr' :perPage="5" :autoplay='true' autoplayDirection="backward" :navigationEnabled="true" navigation-next-label='
       <span class="arrow-right">
         <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M285.5 273l-194.3 194.3c-9.4 9.4-24.6 9.4-33.9 0l-22.7-22.7c-9.4-9.4-9.4-24.5 0-33.9l154-154.7-154-154.7c-9.3-9.4-9.3-24.5 0-33.9l22.7-22.7c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9z"></path>
         </svg>
       </span>' navigationPrevLabel='
       <span class="arrow-left">
         <svg data-v-8dc7cce2="" aria-hidden="true" width="10" height="16" viewBox="0 0 320 512" focusable="false" class="fa-icon"><path d="M34.5 239l194.4-194.3c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9l-154 154.7 154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0l-194.3-194.4c-9.4-9.4-9.4-24.6 0-33.9z"></path>
         </svg>
       </span>'>
        <slide v-for='brand in brands'>
          <div class='bg-brand'>
            <img :src=' brand.imageUrl' />
          </div>
        </slide>
      </carousel>
    </div>
  </div>-->
</div>
</template>

<script>
import Slick from 'vue-slick';
import {
  Carousel,
  Slide
} from 'vue-carousel';
import slider from './home/slider';
import categories from './home/categories';
export default {
  components: {
    Slick,
    Carousel,
    Slide,
    'main-slider': slider,
    categories
  },
  data() {
    return {
      showByIndex: null,
      cart: 0,
      options_carousel: {
        perPage: "1",

      },

      products: [{
          name: "ميدالية مفاتيح فاخرة من Orbitkey",
          options: true,
          imageUrl: require("../../static/products/product1.png"),
          price: '110.25 ر.س.‏',
          state: 'discount',
        },
        {
          name: "اسوارة الجلد المجدول من قرمز",
          options: false,
          imageUrl: require("../../static/products/product2.png"),
          price: '110.25 ر.س.‏',
          state: 'new',
        },
        {
          name: "اسوارة الجلد المجدول من قرمز",
          options: false,
          imageUrl: require("../../static/products/product2.png"),
          price: '110.25 ر.س.‏',
          state: 'new',
        },
        {
          name: "اسوارة الجلد المجدول من قرمز",
          options: false,
          imageUrl: require("../../static/products/product2.png"),
          price: '110.25 ر.س.‏',
          state: 'new',
        },
        {
          name: "اسوارة الجلد المجدول من قرمز",
          options: false,
          imageUrl: require("../../static/products/product2.png"),
          price: '110.25 ر.س.‏',
          state: 'new',
        },
        {
          name: "اسوارة الجلد المجدول من قرمز",
          options: false,
          imageUrl: require("../../static/products/product2.png"),
          price: '110.25 ر.س.‏',
          state: 'new',
        },
        {
          name: "هدية إشراقة حلم",
          options: false,
          imageUrl: require("../../static/products/product3.png"),
          price: '112.25 ر.س.‏',
          state: '',
        },
        {
          name: "حقيبة قماشية من طبعة",
          options: true,
          imageUrl: require("../../static/products/product4.png"),
          price: '995 ر.س.‏',
          state: 'out off',
        },

      ],

      clients: [{
          name: "@shadeen3 شادن ",
          body: '  يالله ... كل تفصيل فيهم مثالي ماشاء الله، التعامل جداً محترم ومهتم بالعميل، تجربة حلوة فعلاً . رسيل استمروا الله يوفقكم ^^',
        },
        {
          name: "@shadeen3 شادن ",
          body: '  يالله ... كل تفصيل فيهم مثالي ماشاء الله، التعامل جداً محترم ومهتم بالعميل، تجربة حلوة فعلاً . رسيل استمروا الله يوفقكم ^^',
        },
        {
          name: "@shadeen3 شادن ",
          body: '  يالله ... كل تفصيل فيهم مثالي ماشاء الله، التعامل جداً محترم ومهتم بالعميل، تجربة حلوة فعلاً . رسيل استمروا الله يوفقكم ^^',
        },
        {
          name: "@shadeen3 شادن ",
          body: '  يالله ... كل تفصيل فيهم مثالي ماشاء الله، التعامل جداً محترم ومهتم بالعميل، تجربة حلوة فعلاً . رسيل استمروا الله يوفقكم ^^',
        },
        {
          name: "@shadeen3 شادن ",
          body: '  يالله ... كل تفصيل فيهم مثالي ماشاء الله، التعامل جداً محترم ومهتم بالعميل، تجربة حلوة فعلاً . رسيل استمروا الله يوفقكم ^^',
        },
      ],
      brands: [{
          imageUrl: require("../../static/brands/brand4.png"),
        },
        {
          imageUrl: require("../../static/brands/brand2.png"),
        },
        {
          imageUrl: require("../../static/brands/brand3.png"),
        },
        {
          imageUrl: require("../../static/brands/brand4.png"),
        },
        {
          imageUrl: require("../../static/brands/brand2.png"),
        },
        {
          imageUrl: require("../../static/brands/brand2.png"),
        },
        {
          imageUrl: require("../../static/brands/brand2.png"),
        },
        {
          imageUrl: require("../../static/brands/brand3.png"),
        },
      ],



    }
  },

  // All slick methods can be used too, example here
  methods: {
    addToCart(product) {
      console.log(this.cart);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
