<template>
  <carousel :per-page="1"  :mouse-drag="false">
     <slide>
       Slide 1 Content
     </slide>
     <slide>
       Slide ٣ Content
     </slide>
     <slide>
       Slide ٤ Content
     </slide>
     <slide>
       Slide ٥ Content
     </slide>
   </carousel>

</template>


<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
  components: {
    Carousel,
    Slide,
  },
  data () {
    return {
      isActive:false,
      mainSliderOptions: {
      },
    }
}
};
</script>
