<template>
  <div id="app">
    <zid-header ></zid-header>
     <router-view/>
    <zid-footer></zid-footer>
  </div>
</template>


<script>

import Header from './components/Header'
import Footer from './components/Footer'
export default {
  components: {
    'zid-header': Header,
    'zid-footer': Footer,
  }
}
</script>
<style src="./assets/scss/main.scss" lang="scss"></style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
